.container {
  padding: 16px;
  user-select: none;
  margin: 0 0 8px;
  min-height: 50px;
  background-color: #263B4A;
  color: white;
  position: relative;
}

.dragging {
  background-color: #456C86;
}

.delete {
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 16px;
  background-color: lightblue;
  opacity: 0;
  transition: all 0.4s;
}

.container:hover .delete {
  opacity: 1;
}

.loading {
  opacity: 0.4;
}

.loader {
  position: absolute;
  right: 8px;
  top: 8px;
}
